<h1>Listing graphs</h1>

<div id="pie">
</div>

<script type="text/javascript">
  window.onload = function () {
    $.ajax({
        url: "./graphs.json",
        dataType: 'json',
        success: function(data, textStatus, xhr) {
          var r = Raphael("pie");
          r.piechart(320, 240, 150, data);
        }
    });
  }
</script>
