<h1>Listing graphs</h1>

<div id="pie">
</div>

<script type="text/javascript">
  window.onload = function () {
    var r = Raphael("pie");
    r.piechart(320, 240, 150, <%= @numbers %>);
  }
</script>
